body{
    font-family: 'Roboto', sans-serif;
}
.container-fluid{
    background-color: rgb(242, 244, 253);
}
.first{
    background-color: #283593;
    height: 70px;
    border-radius:0px 0px 5px 0px; 
} 
.first:after{
    position: absolute;
    height: 25px;
    width: 25px;
    background:  #283593;
    content: " ";
    top: 50px;
    left: 10%;
    transform: rotate(45deg)
}
.resume{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 15%;
    top: 50%;
    letter-spacing: 2px;
    font-style: oblique;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
}
.paragraph{ 
    font-family: 'Roboto', sans-serif;
}
.name{
    padding-top: 20px;
    background-color: rgb(242, 244, 253);
}

.name-branch{
    padding-left: 30px;
}
#name-bold{
    font-family: 'Roboto', sans-serif;
    font-size: 3.5em;
    font-weight: 900;
}
#it{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
}

/* left side Personal Info */
.border-bottom{
    padding-bottom: 10px;
    padding-top: 10px;
}
.left-side{
    background-color: rgb(211, 220, 250);
}
.all-heading{
   padding-bottom: 25px;
}
  .company{
      font-weight: 700;
  }
  .paragraph{
      font-weight: 600;
  }
  .badge{
      float: right;
      color: #00695C;
  }
  .location{
      color: #00695C;
      font-weight: 700;
  }
  .contact{
      color: #424242;
      font-weight: 700;
  }
/* right side */
.right{
    background-color: rgb(229, 234, 253);
}
  /* footer */
  .last{
    background-color: #283593;
    height: 70px;
    border-radius:0px 0px 0px 0px;
  }